<%= form_for @case do |x| %>
  <h3> Add a Case: </h3>
  <div style="margin-left:30px:">
    <div class="field">
      <%= x.label :name %>
      <%= x.text_field :name %>
    </div>
  </div>
  <div class="actions">
    <%= x.submit "Add Case to list" %>
  </div>
<% end %>
