<html>
<head>
<style>
div { 
  margin: auto;
  text-align: center;
}
</style>
</head>
<body>
<div>
  <h1>Guillermos' Computer Market</h1>
</div>

<div id="tabs">
  <ul>
  <li><a href="#tabs-1"> Create a new Computer</a></li>
  <li><a href="#tabs-2"> View My Listings </a></li>
  <li><a href="#tabs-3"> View All Listings </a></li>
  </ul>
  <div id="tabs-1">
    <% if user_signed_in? %>
      <%= button_to 'Create a new computer', new_computer_path, :class=>"btn btn-danger", :method => :get %>
    <% else %>
    <p>
      Sign in to create a new computer listing.
    </p>
    <% end %>
  </div>
  <div id="tabs-2">
    <% if user_signed_in? %>
      <% if current_user.computers.size >= 1 %>
         <%= button_to 'My postings', computer_path(current_user), :class=>"btn btn-danger", :method => :get %>
      <% end %>
    <% else %>
    <p>
    Sign in to view your listings.
    </p>
    <% end %>
  </div>
  <div id="tabs-3">
    <%= button_to 'Computers For Sale', computers_path, :class=>"btn btn-danger", :method => :get%>
  </div>
</div>
</body>
</html>
