<h1>Create a new Computer build </h1>
<br>
<%= render 'form' %>
<br>
<h1>CPU</h1>
<%= button_to 'Add CPU', new_cpu_path, :class=>"btn btn-danger", :method=>:get %>
<%= button_to 'Back', root_path, :class=>"btn btn-danger", :method=>:get %>
